%br
%br
%br
#push
%footer.footer.navbar-bottom
  .container-fluid
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to "Contact Us", "#"
        %li= link_to "Terms of Use", "#"
        %li= link_to "Privacy Policy", "#"
        %li= link_to "How it Works?", "#"
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "https://github.com/chrisjmendez/boilerplate-rails-5-app"}= "Copyright #{Time.now.year}"
