%section.hero.lg.vcenter
  / Background
  .bg.parallax.faded-subtle{:style => "background-image: url(#{image_path('http://placehold.it/1155x722')});"}
  .container.text-center
    / Content
    %h1.lg About Us
%section
  .container.content
    .row
      .col-md-6.col-md-offset-3.text-center
        %h1 We breathe Design
        %p We love design, so much we breathe it. We make things for the better. Our team is specialized in both visual design and webdevelopment.
  .slider.carousel{"auto-slide" => "", "data-visible" => "4"}
    %ul.slides
      %li.slide.text-center.item.vcenter
        %img.thumb{:alt => "", :src => "#{image_path('http://placehold.it/1000x1000')}"}/
      %li.slide.text-center.item.vcenter
        %img.thumb{:alt => "", :src => "#{image_path('http://placehold.it/1000x1000')}"}/
      %li.slide.text-center.item.vcenter
        %img.thumb{:alt => "", :src => "#{image_path('http://placehold.it/1000x1000')}"}/
      %li.slide.text-center.item.vcenter
        %img.thumb{:alt => "", :src => "#{image_path('http://placehold.it/1000x1000')}"}/
      %li.slide.text-center.item.vcenter
        %img.thumb{:alt => "", :src => "#{image_path('http://placehold.it/1000x1000')}"}/
      %li.slide.text-center.item.vcenter
        %img.thumb{:alt => "", :src => "#{image_path('http://placehold.it/1000x1000')}"}/
      %li.slide.text-center.item.vcenter
        %img.thumb{:alt => "", :src => "#{image_path('http://placehold.it/1000x1000')}"}/
  .container.content
    %h1 Our services
    %p We do this for you, because we love to do it. Lorem ipsum dolor.
  .container.content
    .row
      .col-md-3.service
        .icon.ion-lightbulb.item
        %h4 Concept
        %p We bring ideas to live. Lorem ipsum dolor sit amet.
      .col-md-3.service
        .icon.ion-camera.item
        %h4 Photography
        %p We bring ideas to live. Lorem ipsum dolor sit amet.
      .col-md-3.service
        .icon.ion-monitor.item
        %h4 Design
        %p We bring ideas to live. Lorem ipsum dolor sit amet.
      .col-md-3.service
        .icon.ion-stats-bars.item
        %h4 Analytics
        %p We bring ideas to live. Lorem ipsum dolor sit amet.
%section.gray
  .container.content
    .row
      .col-md-6
        %h1 Our awesome team
        %p We love design, so much we breathe it. We make things for the better. Our team is specialized in both visual design and webdevelopment.
  .container.content
    .row
      .col-md-4
        / Profile
        .profile.item
          %img{:alt => "", :src => "#{image_path('http://placehold.it/500x33')}"}/
          %h3 Dave Jenkins
          %p Designer
          %ul.social
            %li
              %a.fa.fa-dribbble{:href => "#"}
            %li
              %a.fa.fa-instagram{:href => "#"}
            %li
              %a.fa.fa-pinterest{:href => "#"}
      .col-md-4
        / Profile
        .profile.item
          %img{:alt => "", :src => "#{image_path('http://placehold.it/500x33')}"}/
          %h3 Caroline Johnson
          %p Photographer
          %ul.social
            %li
              %a.fa.fa-twitter{:href => "#"}
            %li
              %a.fa.fa-flickr{:href => "#"}
            %li
              %a.fa.fa-instagram{:href => "#"}
            %li
              %a.fa.fa-pinterest{:href => "#"}
      .col-md-4
        / Profile
        .profile.item
          %img{:alt => "", :src => "#{image_path('http://placehold.it/500x33')}"}/
          %h3 Jane Finch
          %p Developer
          %ul.social
            %li
              %a.fa.fa-twitter{:href => "#"}
            %li
              %a.fa.fa-facebook{:href => "#"}
            %li
              %a.fa.fa-pinterest{:href => "#"}
%section
  .container.content
    .row
      .col-md-6
        %h1 Our office
        %p
          Our office is awesome, just like our team. Want to visit us?
          %br>/
          Come over and have a pizza together!
  .container
    .grid
      .grid-sizer
      .grid-item.large
        .thumb{:style => "background-image: url(#{image_path('http://placehold.it/1451x968')})"}
      .grid-item.tall
        .thumb{:style => "background-image: url(#{image_path('http://placehold.it/1155x722')})"}
