%section.vbottom.behind.gray
  .container
    %h1 Image blog
%section
  .container.intro
    .grid
      .grid-sizer
      / Blog item
      %a.grid-item.large{:href => "/pages/blog-post-image"}
        .thumb{:style => "background-image: url(#{image_path('http://placehold.it/700x562')})"}
        .caption
          .type 02 / 03 / 2016
          .description
            %h4 Land of God
            %p We bring ideas to live. Lorem ipsum dolor sit amet.
      / Blog item
      %a.grid-item{:href => "/pages/blog-post-image"}
        .thumb{:style => "background-image: url(#{image_path('http://placehold.it/700x562')})"}
        .caption
          .type 02 / 03 / 2016
          .description
            %h4 Weekly Planner
            %p We bring ideas to live. Lorem ipsum dolor sit amet.
      / Blog item
      %a.grid-item{:href => "/pages/blog-post-image"}
        .thumb{:style => "background-image: url(#{image_path('http://placehold.it/700x562')})"}
        .caption
          .type 02 / 03 / 2016
          .description
            %h4 Suit Inc.
            %p We bring ideas to live. Lorem ipsum dolor sit amet.
      / Blog item
      %a.grid-item{:href => "/pages/blog-post-image"}
        .thumb{:style => "background-image: url(#{image_path('http://placehold.it/700x562')})"}
        .caption
          .type 02 / 03 / 2016
          .description
            %h4 Life on Mars
            %p We bring ideas to live. Lorem ipsum dolor sit amet.
      / Blog item
      %a.grid-item{:href => "/pages/blog-post-image"}
        .thumb{:style => "background-image: url(#{image_path('http://placehold.it/700x562')})"}
        .caption
          .type 02 / 03 / 2016
          .description
            %h4 Concept
            %p We bring ideas to live. Lorem ipsum dolor sit amet.
      / Blog item
      %a.grid-item{:href => "/pages/blog-post-image"}
        .thumb{:style => "background-image: url(#{image_path('http://placehold.it/700x562')})"}
        .caption
          .type 02 / 03 / 2016
          .description
            %h4 Land of God #2
            %p We bring ideas to live. Lorem ipsum dolor sit amet.
      / Blog item
      %a.grid-item.wide{:href => "/pages/blog-post-image"}
        .thumb{:style => "background-image: url(#{image_path('http://placehold.it/1300x867')})"}
        .caption
          .type 02 / 03 / 2016
          .description
            %h4 Brushin' For Life
            %p We bring ideas to live. Lorem ipsum dolor sit amet.
      / Blog item
      %a.grid-item{:href => "/pages/blog-post-image"}
        .thumb{:style => "background-image: url(#{image_path('http://placehold.it/700x562')})"}
        .caption
          .type 02 / 03 / 2016
          .description
            %h4 The Empire
            %p We bring ideas to live. Lorem ipsum dolor sit amet.
%section.on-foot
  .container.text-center
    .btn-group.pagination
      %a.btn.previous{:disabled => "disabled", :href => "#"}
        .ion-chevron-left
      %a.btn.active{:href => "#"} 1
      %a.btn{:href => "#"} 2
      %a.btn{:href => "#"} 3
      %a.btn{:href => "#"} 4
      %a.btn.next{:href => "#"}
        .ion-chevron-right
