/ Hero
%section.hero.dark.vcenter
  / Background
  .bg.faded.parallax{:style => "background-image: url(#{image_path('http://placehold.it/1440x761')});"}
  .container.text-center
    / Content
    .content
      %h1.lg Dark Hero
%section
  .container.content
    .row
      .col-md-12
        %img.item{:alt => "", :src => "#{image_path(http://placehold.it/1440x761)}"}/
        %img.item{:alt => "", :src => "#{image_path('http://placehold.it/1440x562')}"}/
  .container.content
    .row
      .col-md-6.col-md-offset-3
        %blockquote.item Quitters don't win. Winners don't quit.
  .container.content
    .row
      .col-md-4
        %img.item{:alt => "", :src => "#{image_path('http://placehold.it/400x267')}"}/
      .col-md-4
        %img.item{:alt => "", :src => "#{image_path('http://placehold.it/400x267')}"}/
      .col-md-4
        %img.item{:alt => "", :src => "#{image_path('http://placehold.it/400x267')}"}/
