/ Hero
%section.hero.dark.vbottom
  / Background
  .bg.faded.parallax{:style => "background-image: url(#{image_path('http://placehold.it/1300x867')});"}
  .container
    / Content
    .content
      %h1.lg Portfolio - Classic
%section
  .container
    .intro
      %h3 Work
    / Portfolio grid
    .grid
      / Portfolio item
      .grid-sizer
      %a.grid-item{:href => "/pages/portfolio-single"}
        .thumb{:style => "background-image: url(#{image_path('http://placehold.it/700x562')})"}
        .caption
          .type Photography + Video
          .description
            %h4 Land of God
            %p We bring ideas to live. Lorem ipsum dolor sit amet.
      / Portfolio item
      %a.grid-item{:href => "/pages/portfolio-single-2"}
        .thumb{:style => "background-image: url(#{image_path('http://placehold.it/700x562')})"}
        .caption
          .type Design + Art Direction
          .description
            %h4 Weekly Planner
            %p We bring ideas to live. Lorem ipsum dolor sit amet.
      / Portfolio item
      %a.grid-item.tall{:href => "/pages/portfolio-single"}
        .thumb{:style => "background-image: url(#{image_path('http://placehold.it/700x562')})"}
        .caption
          .type Design + Art Direction
          .description
            %h4 Suit Inc.
            %p We bring ideas to live. Lorem ipsum dolor sit amet.
      / Portfolio item
      %a.grid-item{:href => "/pages/portfolio-single-2"}
        .thumb{:style => "background-image: url(#{image_path('http://placehold.it/700x562')})"}
        .caption
          .type Drone + Photography
          .description
            %h4 Life on Mars
            %p We bring ideas to live. Lorem ipsum dolor sit amet.
      / Portfolio item
      %a.grid-item{:href => "/pages/portfolio-single"}
        .thumb{:style => "background-image: url(#{image_path('http://placehold.it/700x562')})"}
        .caption
          .type Design + Architecture
          .description
            %h4 Concept
            %p We bring ideas to live. Lorem ipsum dolor sit amet.
      / Portfolio item
      %a.grid-item.large{:href => "/pages/portfolio-single-2"}
        .thumb{:style => "background-image: url(#{image_path('http://placehold.it/700x562')})"}
        .caption
          .type Photography
          .description
            %h4 Land of God #2
            %p We bring ideas to live. Lorem ipsum dolor sit amet.
      / Portfolio item
      %a.grid-item{:href => "/pages/portfolio-single"}
        .thumb{:style => "background-image: url(#{image_path('http://placehold.it/500x33')})"}
        .caption
          .type Photography
          .description
            %h4 She
            %p Lorem ipsum dolor.
      / Portfolio item
      %a.grid-item{:href => "/pages/portfolio-single-2"}
        .thumb{:style => "background-image: url(#{image_path('http://placehold.it/700x562')})"}
        .caption
          .type Design + Art Direction
          .description
            %h4 Concept
            %p We bring ideas to live. Lorem ipsum dolor sit amet.
      / Portfolio item
      %a.grid-item{:href => "/pages/portfolio-single"}
        .thumb{:style => "background-image: url(#{image_path('http://placehold.it/700x562')})"}
        .caption
          .type Architecture + Art Direction
          .description
            %h4 The Architect
            %p We bring ideas to live. Lorem ipsum dolor sit amet.
      / Portfolio item
      %a.grid-item.wide{:href => "/pages/portfolio-single-2"}
        .thumb{:style => "background-image: url(#{image_path('http://placehold.it/750x256')})"}
        .caption
          .type Photography + Art Direction
          .description
            %h4 The Drive of Your Life
            %p We bring ideas to live. Lorem ipsum dolor sit amet.
