%section
  .container
    .row
      .col-md-12
        %ul.breadcrumbs
          %li
            %a{:href => "/pages/shop"} Portfolio
          %li
            Single portfolio
            %sup 2
%section.content
  .container
    .content
      .intro
        %h1.lg
          Single portfolio
          %sup 2
      %a.lightbox{:href => "#{image_path('08.jpg')}"}
        %img.item{:alt => "", :src => "#{image_path('08.jpg')}"}/
  .container.intro
    / Content
    .content
      .row
        .col-md-6.col-md-offset-1
          %h1.title The creation of aesthetics
          %p We love design, so much we breathe it. We make things for the better. Our team is specialized in both visual design and webdevelopment.
        .col-md-3.col-md-offset-1
          .row
            .col-md-12
              %h4 Project details
          .row
            .col-md-4.strong Year
            .col-md-8 2016
          .row
            .col-md-4.strong Client
            .col-md-8 John Doe Inc.
          .row
            .col-md-4.strong Role
            .col-md-8 Art Direction
  .container.content
    .row
      .col-md-12
        %a.lightbox{:href => "#{image_path('office/03.jpg')}"}
          %img.item{:alt => "", :src => "#{image_path('office/03.jpg')}"}/
        .row
          .col-md-6.col-md-offset-3.text-center
            %p This is my workspace, id consequat nulla placerat sed. Donec vel ligula tortor. Duis non augue quam. Ut nec felis vestibulum, luctus ex a, semper enim. Curabitur at pretium nunc.
    .row
      .col-md-4
        %a.lightbox{:href => "#{image_path('05.jpg')}"}
          %img.item{:alt => "", :src => "#{image_path('05.jpg')}"}/
      .col-md-4
        %a.lightbox{:href => "#{image_path('06.jpg')}"}
          %img.item{:alt => "", :src => "#{image_path('06.jpg')}"}/
      .col-md-4
        %a.lightbox{:href => "#{image_path('07.jpg')}"}
          %img.item{:alt => "", :src => "#{image_path('07.jpg')}"}/
  .container.content
    .row
      .col-md-6.col-md-offset-3
        %blockquote.item Quitters don't win. Winners don't quit.
%section.on-foot
  .container
    .row
      .col-md-6
        %a.previous-post{:href => "/pages/portfolio-single"}
          .arrow
            .ion-chevron-left
          .content
            .title Previous
            .post-title Example portfolio item
      .col-md-6
        %a.next-post{:href => "/pages/portfolio-single"}
          .content
            .title Next
            .post-title Example portfolio item
          .arrow
            .ion-chevron-right
