%section
  .container
    .row
      .col-md-12
        %ul.breadcrumbs
          %li
            %a{:href => "/pages/shop"} Portfolio
          %li Example portfolio item
%section.content
  .container.intro
    .row
      .col-md-6.col-md-offset-1
        %h1.title Example portfolio item
        %p We love design, so much we breathe it. We make things for the better. Our team is specialized in both visual design and webdevelopment.
      .col-md-3.col-md-offset-1
        .row
          .col-md-12
            %h4 Project details
        .row
          .col-md-4.strong Year
          .col-md-8 2016
        .row
          .col-md-4.strong Client
          .col-md-8 John Doe Inc.
        .row
          .col-md-4.strong Roles
          .col-md-8 Art Direction
%section
  .container.content.intro
    .row
      .col-md-12
        %a.lightbox{:href => "#{image_path('http://placehold.it/1300x867')}"}
          %img.item{:alt => "", :src => "#{image_path('http://placehold.it/1300x867')}"}/
        .row
          .col-md-6.col-md-offset-3
            %p Suspendisse rutrum tellus diam, id consequat nulla placerat sed. Donec vel ligula tortor. Duis non augue quam. Ut nec felis vestibulum, luctus ex a, semper enim. Curabitur at pretium nunc.
        %a.lightbox{:href => "#{image_path('http://placehold.it/1440x562')}"}
          %img.item{:alt => "", :src => "#{image_path('http://placehold.it/1440x562')}"}/
    .row
      .col-md-4
        %a.lightbox{:href => "#{image_path('http://placehold.it/400x267')}"}
          %img.item{:alt => "", :src => "#{image_path('http://placehold.it/400x267')}"}/
      .col-md-4
        %a.lightbox{:href => "#{image_path('http://placehold.it/400x267')}"}
          %img.item{:alt => "", :src => "#{image_path('http://placehold.it/400x267')}"}/
      .col-md-4
        %a.lightbox{:href => "#{image_path('http://placehold.it/400x267')}"}
          %img.item{:alt => "", :src => "#{image_path('http://placehold.it/400x267')}"}/
%section.on-foot
  .container
    .row
      .col-md-6
        %a.previous-post{:href => "/pages/portfolio-single-2"}
          .arrow
            .ion-chevron-left
          .content
            .title Previous
            .post-title Example portfolio item
      .col-md-6
        %a.next-post{:href => "/pages/portfolio-single-2"}
          .content
            .title Next
            .post-title Example portfolio item
          .arrow
            .ion-chevron-right
