/ Hero
%section.hero.dark.vbottom
  / Background
  .bg.faded.parallax{:style => "background-image: url(#{image_path('08.jpg')});"}
  .container
    / Content
    .content
      %h1 Portfolio - No spacing
      %p Bone - Responsive HTML5 Template
%section
  .container
    / Portfolio grid
    .grid.no-spacing
      .grid-sizer
      / Portfolio item
      %a.grid-item{:href => "/pages/portfolio-single"}
        .thumb{:style => "background-image: url(#{image_path('thumbs/07.png')})"}
        .caption
          .type Photography + Video
          .description
            %h4 Land of God
            %p We bring ideas to live. Lorem ipsum dolor sit amet.
      / Portfolio item
      %a.grid-item{:href => "/pages/portfolio-single-2"}
        .thumb{:style => "background-image: url(#{image_path('thumbs/02.png')})"}
        .caption
          .type Design + Art Direction
          .description
            %h4 Weekly Planner
            %p We bring ideas to live. Lorem ipsum dolor sit amet.
      / Portfolio item
      %a.grid-item.tall{:href => "/pages/portfolio-single"}
        .thumb{:style => "background-image: url(#{image_path('thumbs/03.png')})"}
        .caption
          .type Design + Art Direction
          .description
            %h4 Suit Inc.
            %p We bring ideas to live. Lorem ipsum dolor sit amet.
      / Portfolio item
      %a.grid-item{:href => "/pages/portfolio-single-2"}
        .thumb{:style => "background-image: url(#{image_path('thumbs/04.png')})"}
        .caption
          .type Drone + Photography
          .description
            %h4 Life on Mars
            %p We bring ideas to live. Lorem ipsum dolor sit amet.
      / Portfolio item
      %a.grid-item{:href => "/pages/portfolio-single"}
        .thumb{:style => "background-image: url(#{image_path('thumbs/05.png')})"}
        .caption
          .type Design + Architecture
          .description
            %h4 Concept
            %p We bring ideas to live. Lorem ipsum dolor sit amet.
      / Portfolio item
      %a.grid-item.large{:href => "/pages/portfolio-single-2"}
        .thumb{:style => "background-image: url(#{image_path('thumbs/06.png')})"}
        .caption
          .type Photography
          .description
            %h4 Land of God #2
            %p We bring ideas to live. Lorem ipsum dolor sit amet.
      / Portfolio item
      %a.grid-item{:href => "/pages/portfolio-single"}
        .thumb{:style => "background-image: url(#{image_path('thumbs/07.png')})"}
        .caption
          .type Design + Art Direction
          .description
            %h4 Concept
            %p We bring ideas to live. Lorem ipsum dolor sit amet.
      / Portfolio item
      %a.grid-item{:href => "/pages/portfolio-single-2"}
        .thumb{:style => "background-image: url(#{image_path('thumbs/08.png')})"}
        .caption
          .type Design + Art Direction
          .description
            %h4 Concept
            %p We bring ideas to live. Lorem ipsum dolor sit amet.
      / Portfolio item
      %a.grid-item{:href => "/pages/portfolio-single"}
        .thumb{:style => "background-image: url(#{image_path('thumbs/09.png')})"}
        .caption
          .type Architecture + Art Direction
          .description
            %h4 The Architect
            %p We bring ideas to live. Lorem ipsum dolor sit amet.
      / Portfolio item
      %a.grid-item.wide{:href => "/pages/portfolio-single-2"}
        .thumb{:style => "background-image: url(#{image_path('thumbs/10.png')})"}
        .caption
          .type Photography + Art Direction
          .description
            %h4 The Drive of Your Life
            %p We bring ideas to live. Lorem ipsum dolor sit amet.
