/ Hero
%section.vbottom.gray
  / Background
  .bg.faded.parallax{:style => "background-image: url(#{image_path('http://placehold.it/1300x867')});"}
  .container
    / Content
    .content
      %h1 Portfolio - Lightbox
      %p Bone - Responsive HTML5 Template
%section
  .container
    / Portfolio grid
    .grid
      .grid-sizer
      / Portfolio item
      %a.grid-item.lightbox{:href => "#{image_path('http://placehold.it/700x562')}"}
        .thumb{:style => "background-image: url(#{image_path('http://placehold.it/700x562')}"}
        .caption
          .type Photography + Video
          .description
            %h4 Land of God
            %p We bring ideas to live. Lorem ipsum dolor sit amet.
      / Portfolio item
      %a.grid-item.lightbox{:href => "#{image_path('http://placehold.it/700x562')}"}
        .thumb{:style => "background-image: url(#{image_path('http://placehold.it/700x562')}"}
        .caption
          .type Design + Art Direction
          .description
            %h4 Weekly Planner
            %p We bring ideas to live. Lorem ipsum dolor sit amet.
      / Portfolio item
      %a.grid-item.tall.lightbox{:href => "#{image_path('http://placehold.it/700x562')}"}
        .thumb{:style => "background-image: url(#{image_path('http://placehold.it/700x562')}"}
        .caption
          .type Design + Art Direction
          .description
            %h4 Suit Inc.
            %p We bring ideas to live. Lorem ipsum dolor sit amet.
      / Portfolio item
      %a.grid-item.lightbox{:href => "#{image_path('http://placehold.it/700x562')}"}
        .thumb{:style => "background-image: url(#{image_path('http://placehold.it/700x562')}"}
        .caption
          .type Drone + Photography
          .description
            %h4 Life on Mars
            %p We bring ideas to live. Lorem ipsum dolor sit amet.
      / Portfolio item
      %a.grid-item.lightbox{:href => "#{image_path('http://placehold.it/700x562')}"}
        .thumb{:style => "background-image: url(#{image_path('http://placehold.it/700x562')}"}
        .caption
          .type Design + Architecture
          .description
            %h4 Concept
            %p We bring ideas to live. Lorem ipsum dolor sit amet.
      / Portfolio item
      %a.grid-item.large.lightbox{:href => "#{image_path('http://placehold.it/700x562')}"}
        .thumb{:style => "background-image: url(#{image_path('http://placehold.it/700x562')}"}
        .caption
          .type Photography
          .description
            %h4 Land of God #2
            %p We bring ideas to live. Lorem ipsum dolor sit amet.
      / Portfolio item
      %a.grid-item.lightbox{:href => "#{image_path('http://placehold.it/700x562')}"}
        .thumb{:style => "background-image: url(#{image_path('http://placehold.it/700x562')}"}
        .caption
          .type Design + Art Direction
          .description
            %h4 Concept
            %p We bring ideas to live. Lorem ipsum dolor sit amet.
      / Portfolio item
      %a.grid-item.lightbox{:href => "#{image_path('http://placehold.it/700x562')}"}
        .thumb{:style => "background-image: url(#{image_path('http://placehold.it/700x562')}"}
        .caption
          .type Design + Art Direction
          .description
            %h4 Concept
            %p We bring ideas to live. Lorem ipsum dolor sit amet.
      / Portfolio item
      %a.grid-item.lightbox{:href => "#{image_path('http://placehold.it/700x562')}"}
        .thumb{:style => "background-image: url(#{image_path('http://placehold.it/700x562')}"}
        .caption
          .type Architecture + Art Direction
          .description
            %h4 The Architect
            %p We bring ideas to live. Lorem ipsum dolor sit amet.
      / Portfolio item
      %a.grid-item.wide.lightbox{:href => "#{image_path('http://placehold.it/750x256')}"}
        .thumb{:style => "background-image: url(#{image_path('http://placehold.it/750x256')}"}
        .caption
          .type Photography + Art Direction
          .description
            %h4 The Drive of Your Life
            %p We bring ideas to live. Lorem ipsum dolor sit amet.
