/ Hero
%section.hero.behind.vbottom
  .container
    / Content
    .content
      %h1 The Shop
      %p Bone - Responsive HTML5 Template
%section
  .container
    / Shop grid
    .grid.shop
      .grid-sizer
      / Shop item
      .grid-item
        .sale Sale!
        .thumb{:style => "background-image: url(#{image_path('shop/01b.jpg')})"}
        %a.caption{:href => "/pages/product"}
          .inner
            %h4 Concept
            .price
              .old &amp;dollar;100.00
              .new &amp;dollar;80.00
        %a.add-to-cart.btn.btn-hollow{:href => "/pages/cart"} Add to cart
      / Shop item
      .grid-item
        .thumb{:style => "background-image: url(#{image_path('shop/08.jpg')})"}
        %a.caption{:href => "/pages/product"}
          .inner
            %h4 Concept
            .price
              .new &amp;dollar;59.00
        %a.add-to-cart.btn.btn-hollow{:href => "/pages/cart"} Add to cart
      / Shop item
      .grid-item.tall{:href => "/pages/product"}
        .sale Sale!
        .thumb{:style => "background-image: url(#{image_path('shop/03.jpg')})"}
        %a.caption{:href => "/pages/product"}
          .inner
            %h4 Concept
            .price
              .old &amp;dollar;100.00
              .new &amp;dollar;69.95
        %a.add-to-cart.btn.btn-hollow{:href => "/pages/cart"} Add to cart
      / Shop item
      .grid-item.tall
        .thumb{:style => "background-image: url(#{image_path('shop/06.jpg')})"}
        %a.caption{:href => "/pages/product"}
          .inner
            %h4 Concept
            .price
              .new &amp;dollar;80.00
        %a.add-to-cart.btn.btn-hollow{:href => "/pages/cart"} Add to cart
      / Shop item
      .grid-item
        .thumb{:style => "background-image: url(#{image_path('shop/09.jpg')})"}
        %a.caption{:href => "/pages/product"}
          .inner
            %h4 Concept
            .price
              .new &amp;dollar;45.00
        %a.add-to-cart.btn.btn-hollow{:href => "/pages/cart"} Add to cart
      / Shop item
      .grid-item.large
        .sale Sale!
        .thumb{:style => "background-image: url(#{image_path('shop/10.jpg')})"}
        %a.caption{:href => "/pages/product"}
          .inner
            %h4 Concept
            .price
              .old &amp;dollar;60.00
              .new &amp;dollar;34.50
        %a.add-to-cart.btn.btn-hollow{:href => "/pages/cart"} Add to cart
      / Shop item
      .grid-item.tall
        .thumb{:style => "background-image: url(#{image_path('shop/07.jpg')})"}
        %a.caption{:href => "/pages/product"}
          .inner
            %h4 Concept
            .price
              .new &amp;dollar;50.00
        %a.add-to-cart.btn.btn-hollow{:href => "/pages/cart"} Add to cart
      / Shop item
      .grid-item
        .thumb{:style => "background-image: url(#{image_path('shop/01b.jpg')})"}
        %a.caption{:href => "/pages/product"}
          .inner
            %h4 Concept
            .price
              .new &amp;dollar;34.95
        %a.add-to-cart.btn.btn-hollow{:href => "/pages/cart"} Add to cart
      / Shop item
      .grid-item
        .thumb{:style => "background-image: url(#{image_path('shop/08.jpg')})"}
        %a.caption{:href => "/pages/product"}
          .inner
            %h4 Concept
            .price
              .new &amp;dollar;70.00
        %a.add-to-cart.btn.btn-hollow{:href => "/pages/cart"} Add to cart
