/ Hero
%section.vcenter
  / Background
  .bg.faded.parallax{:style => "background-image: url(#{image_path('http://placehold.it/1440x761')});"}
  .container.text-center
    / Content
    .content
      %h1.lg The Carousel
      %p Since Tera Slider 3.1
%section.on-foot
  .slider.carousel{"auto-slide" => "", "data-visible" => "4"}
    %ul.slides
      %li.slide.text-center
        %img.thumb{:alt => "", :src => "#{image_path('http://placehold.it/1000x1000')}"}/
      %li.slide.text-center
        %img.thumb{:alt => "", :src => "#{image_path('http://placehold.it/1000x1000')}"}/
      %li.slide.text-center
        %img.thumb{:alt => "", :src => "#{image_path('http://placehold.it/1000x1000')}"}/
      %li.slide.text-center
        %img.thumb{:alt => "", :src => "#{image_path('http://placehold.it/1000x1000')}"}/
      %li.slide.text-center
        %img.thumb{:alt => "", :src => "#{image_path('http://placehold.it/1000x1000')}"}/
      %li.slide.text-center
        %img.thumb{:alt => "", :src => "#{image_path('http://placehold.it/1000x1000')}"}/
      %li.slide.text-center
        %img.thumb{:alt => "", :src => "#{image_path('http://placehold.it/1000x1000')}"}/
