!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Boilerplate Rails 5
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body 
   
    .body-overlay
    
    = render 'home/nav'
    
    / Wrapper
    #wrapper.container-fluid.smooth-transition
      / Header
      %header
        .container
          / Branding
          %a.brand{:href => "/"}
            =image_tag "logo-black.svg", class: "dark-brand"
            =image_tag "logo-black.svg", class: "light-brand"
          / Menu
          .menu
      / Hero & Tera Slider
      %section.slider
        %ul.slides
          / Slide
          %li.slide
            / Background
            .hero.fs
              .bg.parallax{:style => "background-image: url(#{image_path('office/03.jpg')});"}
              .container.text-center.offset-top
                / Content
                .content
                  %h1.lg We're creatives
          / Slide
          %li.slide.dark
            / Background
            .hero.fs.vcenter
              .bg.faded.parallax{:style => "background-image: url(#{image_path('office/01.jpg')});"}
              .container.text-center
                / Content
                .content
                  %h1.lg Creative Digital Agency
                  %h3 We are here to help.
          / Slide
          %li.slide.dark
            / Background
            .hero.fs.vbottom
              .bg.faded-subtle.parallax{:style => "background-image: url(#{image_path('office/02.jpg')});"}
              .container
                / Content
                .content
                  %h4 Design is our passion, we love, share, make and breathe it.
      %section
        .container.content
          .row
            .col-md-8.col-md-offset-2
              .title-block
                %h3 From Zero to Hero
                %h5 Bone expands your possibilities
              %p Sed lacus augue, congue vel dapibus at, convallis semper lorem. Etiam volutpat, est eget feugiat tristique, erat leo ullamcorper turpis, vel auctor nunc diam vitae urna. Aliquam quis lacus et augue bibendum tincidunt. Duis id cursus ex. Sed cursus tortor id vehicula finibus. Nulla in pharetra lacus. Nulla nec elit nec sem feugiat eleifend sed sed neque. Mauris consequat in purus id cursus. Nunc suscipit lacinia ante, sit amet pulvinar orci venenatis a.
      %section.top-line
        .container.content.text-center
          .row
            .col-md-3.service
              .icon.ion-lightbulb.item
              %h4 Concept
              %p We bring ideas to live. Lorem ipsum dolor sit amet.
            .col-md-3.service
              .icon.ion-camera.item
              %h4 Photography
              %p We bring ideas to live. Lorem ipsum dolor sit amet.
            .col-md-3.service
              .icon.ion-monitor.item
              %h4 Design
              %p We bring ideas to live. Lorem ipsum dolor sit amet.
            .col-md-3.service
              .icon.ion-pizza.item
              %h4 Great food
              %p We bring ideas to live. Lorem ipsum dolor sit amet.
      %section.content.gray
        .container
          .row
            .col-md-10.col-md-offset-1.text-center
              .intro
                %h2 A fantastic price
              .row
                .col-md-4
                  .plan.item
                    %h3 Silver
                    .price
                      € 20
                      %span /m
                    %ul
                      %li
                        %strong Basic support
                      %li
                        %strong Basic features
                      %li
                        %strong Basic documentation
                      %li 10 Iterations
                      %li Basic concept
                      %li 10 Websites
                      %li 1TB Bandwidth
                    %a.btn.btn-default{:href => "#"} View plan
                .col-md-4
                  .plan.highlighted.item
                    %h3 Gold
                    .price
                      € 40
                      %span /m
                    %ul
                      %li
                        %strong Premium support
                      %li
                        %strong Premium features
                      %li
                        %strong Premium documentation
                      %li 25 Iterations
                      %li Premium concept
                      %li 25 Websites
                      %li 2.5TB Bandwidth
                    %a.btn.btn-default{:href => "#"} View plan
                .col-md-4
                  .plan.item
                    %h3 Diamond
                    .price
                      € 55
                      %span /m
                    %ul
                      %li
                        %strong Unlimited support
                      %li
                        %strong Unlimited features
                      %li
                        %strong Unlimited documentation
                      %li Unlimited Iterations
                      %li Unlimited concept
                      %li Unlimited Websites
                      %li Unlimited Bandwidth
                    %a.btn.btn-default{:href => "#"} View plan
      %section
        .container
          .intro
            %h3 Work
          / Portfolio grid
          .grid
            / Portfolio item
            .grid-sizer
            %a.grid-item{:href => "pages/portfolio-single.html"}
              .thumb{:style => "background-image: url(#{image_path('images/thumbs/07.png')})"}
              .caption
                .type Photography + Video
                .description
                  %h4 Land of God
                  %p We bring ideas to live. Lorem ipsum dolor sit amet.
            / Portfolio item
            %a.grid-item{:href => "pages/portfolio-single-2.html"}
              .thumb{:style => "background-image: url(#{image_path('images/thumbs/02.png')})"}
              .caption
                .type Design + Art Direction
                .description
                  %h4 Weekly Planner
                  %p We bring ideas to live. Lorem ipsum dolor sit amet.
            / Portfolio item
            %a.grid-item.tall{:href => "pages/portfolio-single.html"}
              .thumb{:style => "background-image: url(#{image_path('images/thumbs/03.png')})"}
              .caption
                .type Design + Art Direction
                .description
                  %h4 Suit Inc.
                  %p We bring ideas to live. Lorem ipsum dolor sit amet.
            / Portfolio item
            %a.grid-item{:href => "pages/portfolio-single-2.html"}
              .thumb{:style => "background-image: url(#{image_path('images/thumbs/04.png')})"}
              .caption
                .type Drone + Photography
                .description
                  %h4 Life on Mars
                  %p We bring ideas to live. Lorem ipsum dolor sit amet.
            / Portfolio item
            %a.grid-item{:href => "pages/portfolio-single.html"}
              .thumb{:style => "background-image: url(#{image_path('images/thumbs/05.png')})"}
              .caption
                .type Design + Architecture
                .description
                  %h4 Concept
                  %p We bring ideas to live. Lorem ipsum dolor sit amet.
            / Portfolio item
            %a.grid-item.large{:href => "pages/portfolio-single-2.html"}
              .thumb{:style => "background-image: url(#{image_path('images/thumbs/06.png')})"}
              .caption
                .type Photography
                .description
                  %h4 Land of God #2
                  %p We bring ideas to live. Lorem ipsum dolor sit amet.
            / Portfolio item
            %a.grid-item{:href => "pages/portfolio-single.html"}
              .thumb{:style => "background-image: url(#{image_path('portraits/01.jpg')})"}
              .caption
                .type Photography
                .description
                  %h4 She
                  %p Lorem ipsum dolor.
            / Portfolio item
            %a.grid-item{:href => "pages/portfolio-single-2.html"}
              .thumb{:style => "background-image: url(#{image_path('portraits/02.jpg')})"}
              .caption
                .type Design + Art Direction
                .description
                  %h4 Concept
                  %p We bring ideas to live. Lorem ipsum dolor sit amet.
            / Portfolio item
            %a.grid-item{:href => "pages/portfolio-single.html"}
              .thumb{:style => "background-image: url(#{image_path('images/thumbs/09.png')})"}
              .caption
                .type Architecture + Art Direction
                .description
                  %h4 The Architect
                  %p We bring ideas to live. Lorem ipsum dolor sit amet.
            / Portfolio item
            %a.grid-item.wide{:href => "pages/portfolio-single-2.html"}
              .thumb{:style => "background-image: url(#{image_path('images/thumbs/10.png')})"}
              .caption
                .type Photography + Art Direction
                .description
                  %h4 The Drive of Your Life
                  %p We bring ideas to live. Lorem ipsum dolor sit amet.

      = render 'home/footer'
